/* === Page === */
.auth-page {
  min-height: 100svh;
  max-width: 560px;
  margin: 0 auto;
  padding: 16px 12px 40px;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Flèche retour (en haut-gauche) */
.back {
  position: absolute;
  left: 8px;
  top: 8px;
  z-index: 10;

  padding: 6px;
  display: inline-flex;
  align-items: center;

  color: #111;
  text-decoration: none;
  cursor: pointer;

  .material-icons {
    font-size: 28px;
    line-height: 1;
  }
}

/* Logo au-dessus du titre */
.logo {
  width: 309px;
  height: auto;
  margin: 44px auto 8px;
  display: block;
  pointer-events: none;
}

.only{
  display: none;
}

/* Titre */
h1 {
  text-align: center;
  margin: 0 0 16px;
  font-size: 24px;
  font-weight: 800;
  color: #111;
  margin-top: auto;
}

/* Formulaire */
.form {
  width: 69%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 64px;
}

/* Labels */
.label {
  font-size: 14px;
  color: #262626;
  display:block;
  margin: 20 0 4px;
}
/* Conteneur champ + label */
.field {
  display: flex;
  flex-direction: column;
  gap: 4px;
                    /* espace label ↔ input (réduit) */
}

/* Champs */
input {
  //width: 100%;
  border: 2px solid #2f2f2f;
  border-radius: 10px;
  padding: 12px 14px;
  outline: none;
  font-size: 16px;
  background: #fff;
  color: #1f1f1f;
  transition: box-shadow .15s ease, border-color .15s ease;
}
input:focus {
  border-color: #7c5ce6;
  box-shadow: 0 0 0 3px rgba(124, 92, 230, .15);
}

/* Bouton principal */
.primary {
  margin-top: 6px;
  background: #7c5ce6;
  color: #fff;
  border: 0;
  border-radius: 10px;
  padding: 12px 28px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 0 rgba(0,0,0,.06);
  transition: filter .15s ease, transform .02s ease;
  align-self: center;
  width: 50%;
}
.primary:hover { background: #6b4fd6; }
.primary:disabled { opacity: .65; cursor: default; }

/* Messages */
.error { color: #c1121f; text-align: center; margin-top: 6px; }
.hint { text-align: center; margin-top: 6px; }
.hint a { color: #7c5ce6; text-decoration: none; font-weight: 600; }
.hint a:hover { text-decoration: underline; }

/* --- Responsive finitions --- */

@media (max-width: 1152px) {
   h1    { font-size: 26px; }
  .primary { width: 58%; }

    .only{
  display: block;
}
.logo {
  width: 160px;
  margin-top: 48px;
  width: 309px;
  height: auto;
  margin: 44px auto 8px;
  display: block;
  pointer-events: none;
}
}
